<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="amplio_connectionstring" value="Persist Security Info=False;User Id=prod;Database=amplio;Server=lahuv2k16-sqlp;Password="/>
    <add key="mod_connectionstring" value="Server=lahuv2k19-sql01;Database=production;User Id=MES_DATA_READ;Password="/>
    <add key="tested_qty_query" value ="SELECT COUNT(DISTINCT p.serialNumber) AS tested_count FROM Parts p, TestResults tr WHERE p.partID = tr.partID AND tr.testGood = 1 AND tr.startTime BETWEEN @start_date AND @end_date AND tr.testEquipmentID = 3"/>
    <add key="planned_qty_query" value="SELECT other FROM dbo.codes WHERE type = 'P' AND MES_code = 12"/>
    <add key="clock_query" value ="SELECT time, text_to_display, active FROM clock WHERE active = 1"/>
  </appSettings>
</configuration>
